.template-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-wrapper {
    display: flex;
    flex: 1;
  }
  
  .main-content {
    flex: 1;
    margin-left: 250px; /* Adjust based on your sidebar width */
    transition: margin-left 0.3s ease;
    background: var(--bs-dark-bg-subtle);
  }
  
  .main-content.expanded {
    margin-left: 0;
  }
  

  
  .sidebar.collapsed {
    transform: translateX(-100%);
  }
  
  /* Header styles */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  

  /* Theme-specific styles */
  .light {
    background-color: #ffffff;
    border-right: 1px solid var(#eeeeee);
    color: #333;
  }
  
  .dark {
    background-color: #323232;
    border-right: 1px solid var(#333333);
    color: #f8f9fa;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      transform: translateX(-100%);
    }
  
    .sidebar.collapsed {
      transform: translateX(0);
    }
  
    .main-content {
      margin-left: 0;
    }
  }